.app
    background-color: #f7f7f76e
    padding: 20px
    border-radius: 15px
    box-shadow: 3px 3px #00000021

header
    font-family: Verdana
    font-size: 50px
    font-weight: bold
    color: #626060

hr
    border: 2px solid #626060
    margin-bottom: 30px

.subheader
    font-family: Verdana
    font-size: 20px
    font-weight: bold
    color: #626060
    margin-bottom: 20px

.form
    margin-bottom: 20px

.auth-box
    width: 70%
    margin: 0 auto
    padding: 20px
    margin-top: 100px

.auth-button
    width: 80%
    margin: 0 auto